/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body 
{
    background-color: PowderBlue;
    color: black;
    font-family: Verdana;
}

.title_section
{
    display: flex;
    flex-flow: row;
    background: SeaGreen;
    color: white;
    padding: 0.5em;
}

navbar > li
{
    display: inline-block;
    /* add margins to make look prettier ? */
}

/* Navigation, stolen from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* Large */
.navigation 
{
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    list-style: none;
    margin: 0; 
    background: deepskyblue;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
    border-bottom: none;
    }
}

/*
ul > li {
    display: inline-block;
    /* add margins to make look prettier ? 
}
*/
